/*
Theme Name: couture-netnus-lite

Adding support for languages written in a Right To Left (RTL) direction is easy,
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.
*/

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}
p{
	margin-bottom:0;
	line-height: 1.8;
	font-size: 15px;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

button,
input,
optgroup,
select,
textarea {
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/*--------------- Clearings -------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
	clear: both;
}

/*--------- Forms ---------*/

label {
	color: #333;
	display: block;
	font-weight: 800;
	margin-bottom: 0.5em;
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #222;
	border-color: #333;
}

select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-left: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
	padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #767676;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/*------ Formatting ---------*/

hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*-------- Lists ----------*/

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-right: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/*---------- Tables ---------*/

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

th {
	padding: 0.4em;
	text-align: right;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-right: 0;
}

th:last-child,
td:last-child {
	padding-left: 0;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*---------- Links -----------*/
a {
	color: #222;
	text-decoration: none;
}
a:hover, a:active {
	color: #000 ;
	outline: 0;
	text-decoration: none;
}
a:focus, input:focus, textarea:focus, button:focus,
.woocommerce form .form-row input.input-text:focus, 
.woocommerce form .form-row textarea:focus{
	text-decoration: none;
	outline: -webkit-focus-ring-color auto 1px;
}
.site-footer a:focus, .site-footer input:focus, .site-footer button:focus,
button.product-btn:focus, .topbar a:focus, .menu-sec a:focus{
	outline-color: #fff;
}
.lz-content a, .entry-content a, .comment-body a, 
.textwidget a, .woocommerce-product-details__short-description a {
	color: #000000;
    text-decoration: underline;
}
.entry-content a,
.entry-summary a,
.widget a,
.site-footer .widget-area a,
.posts-navigation a,
.widget_authors a strong {
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}
.entry-title a,
.entry-meta a,
.page-links a,
.page-links a .page-number,
.entry-footer a,
.entry-footer .cat-links a,
.entry-footer .tags-links a,
.edit-link a,
.post-navigation a,
.logged-in-as a,
.comment-navigation a,
.comment-metadata a,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
a .nav-title,
.pagination a,
.comments-pagination a,
.site-info a,
.widget .widget-title a,
.widget ul li a,
.site-footer .widget-area ul li a,
.site-footer .widget-area ul li a {
	text-decoration: none;
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

/* Fixes linked images */
.entry-content a img,
.widget a img {
	-webkit-box-shadow: 0 0 0 8px #fff;
	box-shadow: 0 0 0 8px #fff;
}

.post-navigation a:focus .icon,
.post-navigation a:hover .icon {
	color: #222;
}

/*------------ Featured Image Hover ----------------*/
.continue-btn a {
    color: #fff;
	background: #000000;
    padding: 12px 25px;
    display: inline-block;
    border-radius: 30px;
    font-size: 15px;
}
.continue-btn a:hover{
    background: #ff0c12;
}
.continue-btn {
	margin-top: 15px;
	text-align: left;
}
.post-thumbnail {
	margin-bottom: 10px;
}
.post-thumbnail a img {
	-webkit-backface-visibility: hidden;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.post-thumbnail a:hover img,
.post-thumbnail a:focus img {
	opacity: 0.7;
}

/* --------- MENUS CSS --------- */
#sidelong-menu, #top-menu {
  display: inline;
  background: #000000;
}
#resp-menu {
	display: none;
}
#top-menu{
	text-align: left;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.nav-menu ul{
  margin:0;
  padding:0;
  font-weight:400;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold; 
}
.nav-menu li{
  display:inline-block;
  margin:0;
  position:relative;
  padding:15px 15px 15px 20px;
}
.nav-menu ul li a{
  color:#fff;
  font-size: 14px;
  display:block;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}
.nav-menu ul li a:hover{
	border-bottom-color: #8a9dbc;
	color: #8a9dbc;
}
.nav-menu ul ul{
  display: none;
  position: absolute;
  min-width: 215px;
  z-index: 9999;
}
.nav-menu ul ul ul{
  right: 216px;
  top: 0;
}
.nav-menu ul ul a{
  color: #fff;
  padding: 10px;
  background: #000000;
  transition: all 0.5s ease 0s;
  border: none;
}
.nav-menu ul ul a:hover{
	background: #000;
	color: #fff;
}
.nav-menu ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.nav-menu ul ul li:last-child{
  border-bottom: 0;
}
.nav-menu ul li:hover > ul{
  display: block;
}
.nav-menu a:hover{
  color: #121212;
}
.nav-menu .menu > ul > li.highlight{
  background-color: #006ccc;
}
.nav-menu .menu > ul > li.highlight:hover{
  background: transparent;
}

/*--------------- SUPERFISH MENU ---------------------------*/
.sf-arrows .sf-with-ul:after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    position: absolute;
    left: 6px;
    top: 16px;
}
.sf-arrows ul .sf-with-ul:hover:after{
    transform: rotate(-270deg);
}
.sf-arrows ul .sf-with-ul:after{
	top: 12px;
	left: 15px;
}
.toggle-menu, a.closebtn{
  display: none;
}

/*------------- Navigation -------------*/
.custom-header {
    margin-bottom: 0 !important;
}
.main-top {
    padding: 10px 0;
    background: #fff;
}
.logo{
	padding: 12px 0;
}
.logo h1,
.logo p.site-title {
    font-size: 25px;
    margin-bottom: 0;
    line-height: 1.2;
    font-weight: 600;
}
.logo h1 a,
.logo p.site-title a {
   text-decoration: none !important;
   color: #000;
}

.menu-sec{
	background: #000000;
	padding: 8px 0;
}
.topbar{
	background: #000000;
}
.sale-text {
    padding: 14px 0;
    color: #fff;
    font-size: 14px;
}
.sale-text i {
    margin-left: 6px;
    font-size: 13px;
}
.main-top .search-box{
	margin: 15px 0;
}
form.woocommerce-product-search {
    position: relative;
}
.woocommerce-product-search input.search-field{
	border-radius: 5px;
	border: 2px solid #e5e5e5;
	font-size: 14px;
}
.woocommerce-product-search button{
    background: url(assets/images/search.png) center no-repeat #000000;
    text-indent: -99999px;
    width: 45px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
}
#sidebar .woocommerce-product-search input.search-field{
	border-color: #aaa;
}
.cart_icon {
  text-align: center;
  margin: 24px 0;
}
.cart_icon i {
  color: #000;
  font-size: 25px;
}
span.cart-value {
  position: absolute;
  top: 12px;
  color: #fff;
  font-weight: bold;
  background: #000000;
  font-size: 12px;
  border-radius: 50%;
  width: 25px;
  line-height: 2;
}
li.cart_box {
  list-style: none;
}

/*--- Product Category ---*/
button.product-btn {
	width: 100%;
	border: 2px solid #2273cf;
	background: #000000;
	padding: 8px 14px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: right;
	border-radius: 5px;
}
.product-btn i {
    font-size: 18px;
  	margin: 5px 0 5px 20px;
  	float: right;
}
.category-box {
    position: relative;
}
.menu-sec .product-cat {
	background: #fff;
	position: absolute;
	width: 100%;
	z-index: 999;
	list-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	max-height: 445px;
	overflow-y: scroll;
}
.product-cat i {
	font-size: 10px;
	margin-left: 5px;
	font-size: 11px;
	font-weight: normal;
	color: #7c8396;
	transform: scale(1);
	transition: all 0.5s ease 0s;
}
.product-cat li a {
  color: #7c8396;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px;
  display: block;
}
.product-cat a:hover, 
.product-cat a:hover i {
    color: #000000;
}
.product-cat a:hover i {
    transform: scale(1.3);
    color: #000000;
}

/*------- Header ---------*/
#masthead .wrap {
	position: relative;
}

.site-header {
	background-color: #eee;
	position: relative;
}

.site-title,
.site-title a {
	color: #222;
	opacity: 1; 
}

body.has-header-image .site-title,
body.has-header-video .site-title,
body.has-header-image .site-title a,
body.has-header-video .site-title a {
	color: #fff;
}

.site-description {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	margin-bottom: 0;
}

body.has-header-image .site-description,
body.has-header-video .site-description {
	color: #fff;
	opacity: 0.8;
}

.custom-logo-link {
	display: inline-block;
	padding-left: 1em;
	vertical-align: middle;
	width: auto;
}

.custom-logo-link img {
	display: inline-block;
	max-height: 80px;
	width: auto;
}

body.home.title-tagline-hidden.has-header-image .custom-logo-link img,
body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
	max-height: 200px;
	max-width: 100%;
}

.custom-logo-link a:hover,
.custom-logo-link a:focus {
	opacity: 0.9;
}

body:not(.title-tagline-hidden) .site-branding-text {
	display: inline-block;
	vertical-align: middle;
}

.custom-header {
	position: relative;
}

.has-header-image.couture-netnus-lite-front-page .custom-header,
.has-header-video.couture-netnus-lite-front-page .custom-header,
.has-header-image.home.blog .custom-header,
.has-header-video.home.blog .custom-header {
	display: table;
	height: 300px;
	height: 75vh;
	width: 100%;
}

.custom-header-media {
	bottom: 0;
	right: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.custom-header-media:before {	
	background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%); 
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0);
	bottom: 0;
	content: "";
	display: block;
	height: 100%;
	right: 0;
	position: absolute;
	left: 0;
	z-index: 2;
}

.has-header-image .custom-header-media img,
.has-header-video .custom-header-media video,
.has-header-video .custom-header-media iframe {
	position: fixed;
	height: auto;
	right: 50%;
	max-width: 1000%;
	min-height: 100%;
	min-width: 100%;
	min-width: 100vw; 
	width: auto;
	top: 50%;
	padding-bottom: 1px; 
	-ms-transform: translateX(50%) translateY(-50%);
	-moz-transform: translateX(50%) translateY(-50%);
	-webkit-transform: translateX(50%) translateY(-50%);
	transform: translateX(50%) translateY(-50%);
}

.wp-custom-header .wp-custom-header-video-button { 
	background-color: rgba(34, 34, 34, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: rgba(255, 255, 255, 0.6);
	height: 45px;
	overflow: hidden;
	padding: 0;
	position: fixed;
	left: 30px;
	top: 30px;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	width: 45px;
}

.wp-custom-header .wp-custom-header-video-button:hover,
.wp-custom-header .wp-custom-header-video-button:focus { 
	border-color: rgba(255, 255, 255, 0.8);
	background-color: rgba(34, 34, 34, 0.8);
	color: #fff;
}

.admin-bar .wp-custom-header-video-button {
	top: 62px;
}

.has-header-image:not(.couture-netnus-lite-front-page):not(.home) .custom-header-media img {
	bottom: 0;
	position: absolute;
	top: auto;
	-ms-transform: translateX(50%) translateY(0);
	-moz-transform: translateX(50%) translateY(0);
	-webkit-transform: translateX(50%) translateY(0);
	transform: translateX(50%) translateY(0);
}

/* For browsers that support 'object-fit' */
@supports ( object-fit: cover ) {
	.has-header-image .custom-header-media img,
	.has-header-video .custom-header-media video,
	.has-header-video .custom-header-media iframe,
	.has-header-image:not(.couture-netnus-lite-front-page):not(.home) .custom-header-media img {
		height: 100%;
		right: 0;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		width: 100%;
	}
}

/* Hides div in Customizer preview when header images or videos change. */

body:not(.has-header-image):not(.has-header-video) .custom-header-media {
	display: none;
}

/*------- Front Page ------------*/
.couture-netnus-lite-front-page .site-content {
	padding: 0;
}

.couture-netnus-lite-panel {
	overflow: hidden;
	position: relative;
}

.panel-image {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.panel-image:before {	
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	background: -webkit-gradient(linear, right top, right bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0);
	bottom: 0;
	content: "";
	right: 0;
	left: 0;
	position: absolute;
	top: 100px;
}

.couture-netnus-lite-front-page article:not(.has-post-thumbnail):not(:first-child) {
	border-top: 1px solid #ddd;
}

.panel-content {
	position: relative;
}

.panel-content .wrap {
	padding-bottom: 0.5em;
	padding-top: 1.75em;
}

/* Panel edit link */

.couture-netnus-lite-panel .edit-link {
	display: block;
	margin: 0.3em 0 0;
}

.couture-netnus-lite-panel .entry-header .edit-link {
	font-size: 14px;
	font-size: 0.875rem;
}

/* Front Page - Recent Posts */

.couture-netnus-lite-front-page .panel-content .recent-posts article {
	border: 0;
	color: #333;
	margin-bottom: 3em;
}

.recent-posts .entry-header {
	margin-bottom: 1.2em;
}

.page .panel-content .recent-posts .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0;
	text-transform: none;
}

.couture-netnus-lite-panel .recent-posts .entry-header .edit-link {
	color: #222;
	display: inline-block;
	font-size: 11px;
	font-size: 0.6875rem;
	margin-right: 1em;
}
#content {
    padding: 3% 0;
}
.page-template-custom-home-page #content {
    padding: 0;
}

/*---- First section ------*/
#first-section{
	padding: 2% 0;
}
#first-section .product-cat {
	background: #fff;
	list-style: none;
	border-radius:5px;
	border: 2px solid #e6e6e6;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#first-section .product-cat ul{
	list-style: none;
	height: 430px;
	overflow-y: scroll;
	margin: 0;
}
#first-section strong{
	width: 100%;
    border: 2px solid #2273cf;
    background: #000000;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: right;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: block;
}
#first-section .product-cat li{
	margin: 0 10px;
}

/* --------- SLIDER--------- */
#slider .carousel-control-next-icon,
#slider .carousel-control-prev-icon{
    background: transparent;
    border: 1px dashed #000000;
    padding: 4px 10px;
    color: #ff0c12;
    font-size: 12px;
    font-weight: 500;
}
#slider .carousel-control-next-icon:hover,
#slider .carousel-control-prev-icon:hover{
	border-color: #ff0c12;
	color: #000000;
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 100%;
    transform: scale(0.9);
}
#slider{ 
  max-width:100%;
  padding:0;
  background: #fff;
  position: relative;
}
#slider img {
  width: 100%;
  opacity: 0.8;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;
}
#slider .carousel-control-prev{
	top: auto;
	right: auto;
    left: 5%;
    opacity: 1;
    width: 10%;
    bottom: 17%;
}
#slider .carousel-control-next{
	opacity: 1;
	top: auto;
	right: auto;
	left: 5%;
	width: 10%;
    bottom: 10%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .inner_carousel{
	text-align: right;
}
#slider .inner_carousel h1{
    color: #000;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
    padding: 0px;
}
#slider .inner_carousel p{
	color: #fff;
    font-size: 15px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-weight: normal;
}
#slider .read-btn a.blogbutton-small {
    color: #fff;
    background: #000000;
    padding: 12px 25px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
}
#slider .read-btn a.blogbutton-small:hover{
	background: #ff0c12;
	color:#fff;
}
#slider .read-btn{
	margin-top: 10px;
}
#slider .carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	left:45%;
	right: 10%;
	padding: 0;
}
/*---------- Featured Product ---------------*/
#our-products {
    padding: 3% 0;
}
.blocks-sec {
    padding-bottom: 2%;
}
.blocks-sec .blocks{
	background: #eaeaea;
	padding: 10px;
	border-radius: 8px;
}
.blocks-sec .blocks p{
	color: #848b93;
	font-size: 14px;
}
.blocks-sec .blocks strong{
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}
.blocks-sec .blocks strong a{
	color: #000;
}
.blocks-sec .blocks:hover strong a{
	color: #000000;
}
.blocks-sec .block-text {
    padding: 20px 0;
}
.pro-title strong {
    border-bottom: solid 1px #eaeaea;
    padding: 5px 0;
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.woocommerce ul.products li.product .button {
    text-indent: -99999px;
    background: url('assets/images/cart.png') center no-repeat #fff;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 5px;
    line-height: 0.8;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 1.04s, opacity 0.1s 0.3s;
}
.woocommerce ul.products li.product .button:hover{
	background: url('assets/images/cart1.png') center no-repeat #fff;
}
.woocommerce ul.products li.product:hover .button,
.woocommerce ul.products li.product .button:focus{
	top: 50%;
	right: 5px;
	bottom: auto;
	opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
    display: block;
}
.woocommerce ul.products li.product:hover .woocommerce-loop-product__title{
	color: #ff0c12;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
	font-weight: normal;
	font-size: 16px !important;
}
.category {
    padding: 2% 0;
}
.box-con {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
}
.box-con p{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
.box-image {
	background: #000;
    position: relative;
}
.box-image img {
    opacity: 0.7;
}
.woocommerce-product-gallery__image {
    padding: 5px;
}
h2.woocommerce-loop-product__title {
    color: #333;
    font-size: 18px !important;
}
.woocommerce ul.products li.product a img{
	margin: 0;
}
.woocommerce ul.products li.product .price {
    color:#7c8396;
    font-size: 13px;
    font-weight: 500;
}
span.price del {
    margin-left: 5px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin-bottom: 20px;
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit, 
.woocommerce a.button, .woocommerce button.button, 
.woocommerce input.button {
    color: #fff;
    background: #000000;
    border-radius: 30px;
    font-weight: normal;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
	background: #ff0c12;
	color: #fff;
}
.woocommerce .quantity .qty{
	padding: 8px;
}
.select2-container--default .select2-selection--single{
	height: 45px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	padding: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 10px;
}
form.woocommerce-form.woocommerce-form-login.login {
    display: inline-block;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme{
	display: block;
}
span.onsale {
    background: #000000 !important;
    box-shadow: -3px 3px 0 0 #333;
    padding: 0 !important;
}
.woocommerce-page .entry-content{
	width: 100% !important;
}
nav.woocommerce-MyAccount-navigation ul li{
  background: #000000;
  margin-bottom: 5px;
  font-size: 17px;
  padding: 12px 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  text-decoration: none;
}
nav.woocommerce-MyAccount-navigation ul {
  padding: 0 !important;
  margin: 0;
  list-style: none;
}
.col-1,.col-2 {
    max-width: 100% !important;
}
.posted_in {
  display: block;
}
.entry-summary a{
	color: #000000;
}
.woocommerce button.button.alt {
    padding: 15px;
    border:none;
}
.woocommerce-message{
	border-color: #000000;
}
.woocommerce-message::before,
.woocommerce div.product p.price, .woocommerce div.product span.price,
a.showcoupon{
	color: #000000;
}

/*-------- Regular Content -----------*/
.site-content-contain {
	position: relative;
}

/*-------- Posts ----------------*/
.sticky {
	position: relative;
}

.post:not(.sticky) .icon-thumb-tack {
	display: none;
}

.sticky .icon-thumb-tack {
	display: block;
	height: 18px;
	right: -1.5em;
	position: absolute;
	top: 1.65em;
	width: 20px;
}

.page .panel-content .entry-title,
.page-title,
body.page:not(.couture-netnus-lite-front-page) .entry-title {
	color: #222;
	font-size: 25px;
	font-weight: 600;
}

.entry-header .entry-title {
	margin-bottom: 0px;
}

.entry-title a {
	color: #000000;
	text-decoration: none;
}

h3.entry-title {
	font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.entry-title:not(:first-child) {
	padding-top: 0;
}

.entry-meta {
	color: #767676;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
}

.entry-meta a {
	color: #767676;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.pagination,
.comments-pagination {
	border-top: 1px solid #eee;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	padding: 2em 0 3em;
	text-align: center;
}

.pagination .icon,
.comments-pagination .icon {
	width: 0.666666666em;
	height: 0.666666666em;
}

.comments-pagination {
	border: 0;
}

.page-numbers {
	display: none;
	padding: 0.5em 0.75em;
}

.page-numbers.current {
	color: #767676;
	display: inline-block;
}

.page-numbers.current .screen-reader-text {
	clip: auto;
	height: auto;
	overflow: auto;
	position: relative !important;
	width: auto;
}

.prev.page-numbers,
.next.page-numbers {
	background-color: #000000;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	font-size: 15px;
	line-height: 1;
	border:1px solid #000000;
	color: #fff;
	font-weight: 600;
}

.prev.page-numbers,
.next.page-numbers {
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
    background:transparent;
    color: #000;
    cursor: pointer;
}
.nav-links a{
	color: #000;
	text-decoration: none !important;
}
.prev.page-numbers,
.next.page-numbers {
    font-size: 14px;
    padding: 10px;
}
p.link-more {
    text-align: center;
    margin-top: 0px;
}
a.more-link {
    color: #fff;
    background: #000000;
    padding: 6px 10px;
    float: right;
}

.more-link:before {
    margin-top: 0 !important;
}

/* Aligned blockquotes */

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	width: 48%;
}

/* Blog landing, search, archives */

.blog .site-main > article,
.archive .site-main > article,
.search .site-main > article {
	padding-bottom: 2em;
}

body:not(.couture-netnus-lite-front-page) .entry-header,
body:not(.couture-netnus-lite-front-page) .entry-content,
body:not(.couture-netnus-lite-front-page) #comments {
	margin-right: auto;
	margin-left: auto;
}

.blog .entry-meta a.post-edit-link,
.archive .entry-meta a.post-edit-link,
.search .entry-meta a.post-edit-link {
	color: #222;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
}

.search .page .entry-meta a.post-edit-link {
	margin-right: 0;
	white-space: nowrap;
}

.taxonomy-description {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
}

/* More tag */

.entry-content .more-link:before {
	content: "";
	display: block;
	margin-top: 1.5em;
}

.article_content {
    background: #eee;
    margin-bottom: 25px;
    padding: 15px;
	border-radius: 5px;
}

/* Single Post */

.single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.couture-netnus-lite-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
	margin-right: auto;
	margin-left: auto;
	max-width: 740px;
}

.single-featured-image-header {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
}

.single-featured-image-header img {
	display: none;
	margin: auto;
}

.page-links {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	padding: 2em 0 3em;
}

.page-links .page-number {
	color: #767676;
	display: inline-block;
	padding: 0.5em 1em;
}

.page-links a {
	display: inline-block;
}

.page-links a .page-number {
	color: #222;
}

/* Entry footer */
.entry-footer {
	margin-top: 1em;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	padding-right: 2.5em;
	position: relative;
	text-transform: uppercase;
}

.entry-footer .cat-links + .tags-links {
	margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	color: #333;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon {
	color: #767676;
	right: 0;
	margin-left: 0.5em;
	position: absolute;
	top: 2px;
}

.entry-footer .edit-link {
	display: inline-block;
}

.entry-footer .edit-link a.post-edit-link {
	background-color: #222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	margin-top: 2em;
	padding: 0.7em 2em;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.entry-footer .edit-link a.post-edit-link:hover,
.entry-footer .edit-link a.post-edit-link:focus {
	background-color: #767676;
}

/* Post Formats */

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.format-quote blockquote {
	color: #333;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	overflow: visible;
	position: relative;
}

.format-quote blockquote .icon {
	display: block;
	height: 20px;
	right: -1.25em;
	position: absolute;
	top: 0.4em;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	width: 20px;
}

.copyright {
    width: 100%;
    padding: 15px 0px;
    background: #000000;
}

/* Post Navigation */
.nav-subtitle {
	background: transparent;
	color: #767676;
	display: block;
	font-size: 16px;
	font-weight: 600;
}

.nav-title {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
}

.post-navigation .nav-next {
	margin-top: 1.5em;
}

.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
	margin-left: 0.5em;
}

.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
	margin-right: 0.5em;
}

/*----------- Pages ---------*/
.page-header {
	padding: 10px 0;
}

.page .entry-header .edit-link {
	font-size: 14px;
	font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
	font-size: 11px;
	font-size: 0.6875rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* 404 page */
.error404 .page-content .search-form,
.search .page-content .search-form {
	display: inline-block;
}

/*----------- Footer --------------*/

.site-footer {
	background-color: #0c0c0c;
}

.site-footer .wrap {
	padding-bottom: 1.5em;
	padding-top: 2em;
}

/* Footer widgets */
.site-footer .widget-area {
	padding-bottom: 2em;
	padding-top: 2em;
}

.site-footer .widget-area a:hover {
    color: #000000;
}

.site-footer .widget-area .tagcloud a:hover {
    background: #000000;
    border: 1px solid #000;
    color: #000;
}

.site-info a,
.site-info a:hover,
.site-info p {
	margin-bottom: 0em;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.site-info a :focus{
    color: #ccc;
}

.site-info .sep {
	margin: 0;
	display: block;
	visibility: hidden;
	height: 0;
	width: 100%;
}

/*------- Comments ------------*/

#comments {
	clear: both;
	padding: 2em 0 0.5em;
}
#comments input[type="submit"]{
	margin: 10px 0;
}
.comments-title {
	font-size: 20px;
	font-size: 1.25rem;
	margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li:before {
	display: none;
}

.comment-body {
	margin-right: 65px;
}

.comment-author {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}

.comment-author .avatar {
	height: 50px;
	width: 50px;
}

.comment-author .says {
	display: none;
}

.comment-meta {
	margin-bottom: 10px;
}

.comment-metadata ,
.comment-metadata a {
	color: #767676;
}

.comment-metadata a.comment-edit-link {
	color: #222;
	margin-right: 1em;
}

.comment-body {
	color: #333;
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 2em;
}

.comment-reply-link {
	font-weight: 800;
	position: relative;
}

.comment-reply-link .icon {
	color: #222;
	right: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.children .comment-author .avatar {
	height: 30px;
	right: -45px;
	width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid #333;
	padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
	color: #767676;
	font-size: 14px;
	font-size: 0.875rem;
	font-style: italic;
}

.comments-pagination {
	margin: 2em 0 3em;
}

.form-submit {
	text-align: left;
}

/*-------- Widgets ----------*/

#secondary {
	padding: 1em 0 2em;
}

.widget {
	margin-bottom: 2em;
}

#sidebar .widget {
	padding: 12px;
    background: #eee;
    border-radius: 5px;
}

h3.widget-title {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 10px 0;
}
.site-footer h3.widget-title:before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #242424;
    transition: width .3s;
    position: relative;
    top: 32px;
}

#sidebar h3.widget-title {
    padding: 0;
    display: block;
    color: #000000;
    font-size: 18px;
    letter-spacing: normal;
}

#sidebar .tagcloud a:hover {
    background: #000000;
    border: 1px solid #000;
    color: #000;
}
div#sidebar a {
    color: #292b2c;
}
.widget_container {
    margin-bottom: 15px;
    border-bottom-style: double;
    border-bottom-color: #000000;
}
.widget-title a {
	color: inherit;
}

/* widget forms */

.widget select {
	width: 100%;
}


/* widget lists */

.widget ul {
	list-style: none;
	margin: 0;
}

.widget ul li,
.widget ol li {
	padding: 6px 0;
	font-size: 14px;
}

.widget ul li ul {
	margin: 0 0 -1px;
	padding: 0;
	position: relative;
}

.widget ul li li {
	border: 0;
	padding-right: 24px;
	padding-right: 1.5rem;
}

/* Widget lists of links */

.widget_top-posts ul li ul,
.widget_rss_links ul li ul,
.widget-grofile ul.grofile-links li ul,
.widget_pages ul li ul,
.widget_meta ul li ul {
	bottom: 0;
}

.widget_nav_menu ul li li,
.widget_top-posts ul li,
.widget_top-posts ul li li,
.widget_rss_links ul li,
.widget_rss_links ul li li,
.widget-grofile ul.grofile-links li,
.widget-grofile ul.grofile-links li li {
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}

.widget_rss ul li {
	padding-bottom: 1em;
	padding-top: 1em;
}

/* widget markup */

.widget .post-date,
.widget .rss-date {
	font-size: 0.81em;
}

/* Text widget */

.widget_text {
	word-wrap: break-word;
}

.widget_text ul {
	list-style: disc;
	margin: 0 1.5em 1.5em 0;
}

.widget_text ol {
	list-style: decimal;
}

.widget_text ul li,
.widget_text ol li {
	border: none;
}

.widget_text ul li:last-child,
.widget_text ol li:last-child {
	padding-bottom: 0;
}

.widget_text ul li ul {
	margin: 0 1.5em 0 0;
}

.widget_text ul li li {
	padding-right: 0;
	padding-left: 0;
}

.widget_text ol li {
	list-style-position: inside;
}

.widget_text ol li + li {
	margin-top: -1px;
}

/* RSS Widget */

.widget_rss .widget-title .rsswidget:first-child {
	float: left;
}

.widget_rss .widget-title .rsswidget:first-child:hover {
	background-color: transparent;
}

.widget_rss .widget-title .rsswidget:first-child img {
	display: block;
}

.widget_rss ul li {
	padding: 2.125em 0;
}

.widget_rss ul li:first-child {
	border-top: none;
	padding-top: 0;
}

.widget_rss li .rsswidget {
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 300;
	line-height: 1.4;
}

.widget_rss .rss-date,
.widget_rss li cite {
	color: #767676;
	display: block;
	font-size: 10px;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 0.18em;
	line-height: 1.5;
	text-transform: uppercase;
}

.widget_rss .rss-date {
	margin: 0.5em 0 1.5em;
	padding: 0;
}

.widget_rss .rssSummary {
	margin-bottom: 0.5em;
}

/* Contact Info Widget */

.widget_contact_info .contact-map {
	margin-bottom: 0.5em;
}

/* Gravatar */

.widget-grofile h4 {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0;
}

/* Recent Comments */

.widget_recent_comments table,
.widget_recent_comments th,
.widget_recent_comments td {
	border: 0;
}

/* Recent Posts widget */

.widget_recent_entries .post-date {
	display: block;
}

/* Search */

.search-form {
	position: relative;
}

.search-form .search-submit {
	bottom: 3px;
	padding: 0.55em 1em;
	position: absolute;
	left: 3px;
}

.search-form .search-submit .icon {
	height: 24px;
	top: -2px;
	width: 24px;
}

button.search-submit{
	background-color: #000000;
}

/* Tag cloud widget */

.tagcloud,
.widget_tag_cloud,
.wp_widget_tag_cloud {
	line-height: 1.5;
}

.widget .tagcloud a,
.widget.widget_tag_cloud a,
.wp_widget_tag_cloud a {
	border: 1px solid #ddd;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	float: right;
	font-size: 14px !important; /* !important to overwrite inline styles */
	font-size: 0.875rem !important;
	margin: 4px 0 0 4px !important;
	padding: 4px 10px 5px !important;
	position: relative;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	width: auto;
	word-wrap: break-word;
	z-index: 0;
}

.widget .tagcloud a:hover,
.widget .tagcloud a:focus,
.widget.widget_tag_cloud a:hover,
.widget.widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus {
	border-color: #bbb;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}

/* Calendar widget */

.widget_calendar th,
.widget_calendar td {
	text-align: center;
}

.site-footer .widget_calendar th,
.site-footer .widget_calendar td {
	color: #fff;
}

.widget_calendar tfoot td {
	border: 0;
}

/*----------- Media ----------*/

img,
video {
	height: auto; 
	max-width: 100%;
}

img.alignleft,
img.alignright {
	float: none;
	margin: 0;
}
.aligncenter {
	text-align: center;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption,
.gallery-caption {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/* Media Elements */

.mejs-container {
	margin-bottom: 1.5em;
}

/* Playlist Color Overrides: Light */

.site-content .wp-playlist-light {
	border-color: #eee;
	color: #222;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-album {
	color: #333;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-artist {
	color: #767676;
}

.site-content .wp-playlist-light .wp-playlist-item {
	border-bottom: 1px dotted #eee;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-light .wp-playlist-item:hover,
.site-content .wp-playlist-light .wp-playlist-item:focus {
	border-bottom-color: rgba(0, 0, 0, 0);
	background-color: #767676;
	color: #fff;
}

.site-content .wp-playlist-light a.wp-playlist-caption:hover,
.site-content .wp-playlist-light .wp-playlist-item:hover a,
.site-content .wp-playlist-light .wp-playlist-item:focus a {
	color: #fff;
}

/* Playlist Color Overrides: Dark */

.site-content .wp-playlist-dark {
	background: #222;
	border-color: #333;
}

.site-content .wp-playlist-dark .mejs-container .mejs-controls {
	background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-caption {
	color: #fff;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-album {
	color: #eee;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-artist {
	color: #aaa;
}

.site-content .wp-playlist-dark .wp-playlist-playing {
	background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-item {
	border-bottom: 1px dotted #555;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-dark .wp-playlist-item:hover,
.site-content .wp-playlist-dark .wp-playlist-item:focus {
	border-bottom-color: rgba(0, 0, 0, 0);
	background-color: #aaa;
	color: #222;
}

.site-content .wp-playlist-dark a.wp-playlist-caption:hover,
.site-content .wp-playlist-dark .wp-playlist-item:hover a,
.site-content .wp-playlist-dark .wp-playlist-item:focus a {
	color: #222;
}

/* Playlist Style Overrides */

.site-content .wp-playlist {
	padding: 0.625em 0.625em 0.3125em;
}

.site-content .wp-playlist-current-item .wp-playlist-item-title {
	font-weight: 700;
}

.site-content .wp-playlist-current-item .wp-playlist-item-album {
	font-style: normal;
}

.site-content .wp-playlist-current-item .wp-playlist-item-artist {
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}

.site-content .wp-playlist-item {
	padding: 0 0.3125em;
	cursor: pointer;
}

.site-content .wp-playlist-item:last-of-type {
	border-bottom: none;
}

.site-content .wp-playlist-item a {
	padding: 0.3125em 0;
	border-bottom: none;
}

.site-content .wp-playlist-item a,
.site-content .wp-playlist-item a:focus,
.site-content .wp-playlist-item a:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
}

.site-content .wp-playlist-item-length {
	top: 5px;
}

/*--------- Galleries --------*/
.gallery-item {
	display: inline-block;
	text-align: right;
	vertical-align: top;
	margin: 0 0 1.5em;
	padding: 0 0 0 1em;
	width: 50%;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: right;
	padding: 0 0 0 10px;
	margin-bottom: 0;
}

/*---------- Customizer -----------*/
.highlight-front-sections.couture-netnus-lite-customizer.couture-netnus-lite-front-page .couture-netnus-lite-panel:after {
	border: 2px dashed #0085ba; 
	bottom: 1em;
	content: "";
	display: block;
	right: 1em;
	position: absolute;
	left: 1em;
	top: 1em;
	z-index: 1;
}

.highlight-front-sections.couture-netnus-lite-customizer.couture-netnus-lite-front-page .couture-netnus-lite-panel .panel-content {
	z-index: 2; 
}

/* Used for placeholder text */
.couture-netnus-lite-customizer.couture-netnus-lite-front-page .couture-netnus-lite-panel .couture-netnus-lite-panel-title {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 3em;
	text-transform: uppercase;
	text-align: center;
}

/* Show borders on the custom page panels only when the front page sections are being edited */
.highlight-front-sections.couture-netnus-lite-customizer.couture-netnus-lite-front-page .couture-netnus-lite-panel:nth-of-type(1):after {
	border: none;
}

.couture-netnus-lite-front-page.couture-netnus-lite-customizer #primary article.panel-placeholder {
	border: 0;
}

/* Add some space around the visual edit shortcut buttons. */
.couture-netnus-lite-panel .customize-partial-edit-shortcut button {
	top: 30px;
	right: 30px;
}

/* Ensure that placeholder icons are visible. */
.couture-netnus-lite-panel .customize-partial-edit-shortcut-hidden:before {
	visibility: visible;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}
/*video*/
.entry-video iframe {
    width: 100%;
}


.site-footer .widget-area ul li a,
.site-footer .widget-area ul li,
.site-footer .widget-area p,
.site-footer .widget-area ul,
.site-footer .widget-area a {
    color: #7d8b98;
}

#sidebar .widget ul li a,
#sidebar .widget ul li,
#sidebar .widget p,
#sidebar .widget ul,
#sidebar .widget a {
    color: #000;
}

/*--------- Media --------------*/
@media screen and (min-width: 20em) {
	body.customize-partial-edit-shortcuts-shown .site-header .site-title {
		padding-right: 0;
	}
}
@media screen and (min-width: 30em) {
	body,
	button,
	input,
	select,
	textarea {
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 14px;
		font-size: 0.875rem;
	}

	/* Fix image alignment */
	img.alignleft {
		float: right;
		margin-left: 1.5em;
	}

	img.alignright {
		float: left;
		margin-right: 1.5em;
	}
	/* Front Page */

	.panel-content .wrap {
		padding-bottom: 2em;
		padding-top: 3.5em;
	}

	.page-one-column .panel-content .wrap {
		max-width: 740px;
	}

	.panel-content .entry-header {
		margin-bottom: 4.5em;
	}

	.panel-content .recent-posts .entry-header {
		margin-bottom: 0;
	}

	/* Blog Index, Archive, Search */

	.taxonomy-description {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.page-numbers.current {
		font-size: 16px;
		font-size: 1rem;
	}
}
@media screen and (min-width: 48em) {
	body,
	button,
	input,
	select,
	textarea {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.5;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	/* Layout */

	.wrap {
		max-width: 1000px;
		padding-right: 3em;
		padding-left: 3em;
	}
	.error404 #primary {
		float: none;
	}

	/* Site Branding */

	.has-header-image.couture-netnus-lite-front-page .custom-header,
	.has-header-video.couture-netnus-lite-front-page .custom-header,
	.has-header-image.home.blog .custom-header,
	.has-header-video.home.blog .custom-header {
		display: block;
		height: auto;
	}

	.custom-header-media {
		height: 165px;
		position: relative;
	}

	.couture-netnus-lite-front-page.has-header-image .custom-header-media,
	.couture-netnus-lite-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 0;
		position: relative;
	}

	.has-header-image:not(.couture-netnus-lite-front-page):not(.home) .custom-header-media,
	.has-header-video:not(.couture-netnus-lite-front-page):not(.home) .custom-header-media {
		bottom: 0;
		height: auto;
		right: 0;
		position: absolute;
		left: 0;
		top: 0;
	}

	.custom-logo-link {
		padding-left: 2em;
	}

	.custom-logo-link img,
	body.home.title-tagline-hidden.has-header-image .custom-logo-link img,
	body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
		max-width: 350px;
	}

	.title-tagline-hidden.home.has-header-image .custom-logo-link img,
	.title-tagline-hidden.home.has-header-video .custom-logo-link img {
		max-height: 200px;
	}

	.site-title {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.site-description {
		font-size: 13px;
	}
	.site-header .site-navigation-fixed .menu-scroll-down {
		display: none;
	}
	ul#top-menu {
	    text-align: center;
	}

	/* Scroll down arrow */
	.site-header .menu-scroll-down {
		display: block;
		padding: 1em;
		position: absolute;
		left: 0;
	}

	.site-header .menu-scroll-down .icon {
		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(-90deg); /* IE 9 */
		transform: rotate(-90deg);
	}

	.site-header .menu-scroll-down {
		color: #fff;
		top: 2em;
	}

	.menu-scroll-down .icon {
		height: 18px;
		width: 18px;
	}

	/* Front Page */

	.couture-netnus-lite-front-page.has-header-image .site-branding,
	.couture-netnus-lite-front-page.has-header-video .site-branding,
	.home.blog.has-header-image .site-branding,
	.home.blog.has-header-video .site-branding {
		margin-bottom: 70px;
	}

	.couture-netnus-lite-front-page.has-header-image .custom-header-media,
	.couture-netnus-lite-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
	}

	.couture-netnus-lite-front-page.has-header-image .custom-header-media:before,
	.couture-netnus-lite-front-page.has-header-video .custom-header-media:before,
	.home.blog.has-header-image .custom-header-media:before,
	.home.blog.has-header-video .custom-header-media:before {
		height: 33%;
	}

	.admin-bar.couture-netnus-lite-front-page.has-header-image .custom-header-media,
	.admin-bar.couture-netnus-lite-front-page.has-header-video .custom-header-media,
	.admin-bar.home.blog.has-header-image .custom-header-media,
	.admin-bar.home.blog.has-header-video .custom-header-media {
		height: calc(100vh - 32px);
	}

	.panel-content .wrap {
		padding-bottom: 4.5em;
		padding-top: 6em;
	}

	.panel-image {
		height: 100vh;
		max-height: 1200px;
	}

	/* With panel images 100% of the screen height, we're going to fix the background image where supported to create a parallax-like effect. */
	.background-fixed .panel-image {
		background-attachment: fixed;
	}

	.page-two-column .panel-content .entry-header {
		float: right;
		width: 36%;
	}

	.page-two-column .panel-content .entry-content {
		float: left;
		width: 58%;
	}

	/* Front Page - Recent Posts */

	.page-two-column .panel-content .recent-posts {
		clear: left;
		float: left;
		width: 58%;
	}

	.panel-content .recent-posts article {
		margin-bottom: 4em;
	}

	.panel-content .recent-posts .entry-header,
	.page-two-column #primary .panel-content .recent-posts .entry-header,
	.panel-content .recent-posts .entry-content,
	.page-two-column #primary .panel-content .recent-posts .entry-content {
		float: none;
		width: 100%;
	}

	.panel-content .recent-posts .entry-header {
		margin-bottom: 1.5em;
	}

	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}
	
	/* Posts */

	/*.site-content {
		padding: 2em 0 0;
	}*/

	.single-post .entry-title,
	.page .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	.comments-pagination,
	.post-navigation {
		clear: both;
	}

	.post-navigation .nav-previous {
		float: right;
		width: 50%;
	}

	.post-navigation .nav-next {
		float: left;
		text-align: left;
		width: 50%;
	}

	.nav-next,
	.post-navigation .nav-next {
		margin-top: 0;
	}

	/* Blog, archive, search */

	.sticky .icon-thumb-tack {
		height: 23px;
		right: -2.5em;
		top: 1.5em;
		width: 32px;
	}

	.blog .site-main > article,
	.archive .site-main > article,
	.search .site-main > article {
		padding-bottom: 4em;
	}

	.navigation.pagination {
		clear: both;
		float: left;
		width: 58%;
	}

	.has-sidebar .navigation.pagination,
	.archive.page-one-column:not(.has-sidebar) .navigation.pagination {
		float: none;
		width: 100%;
	}

	.entry-footer {
		display: table;
		width: 100%;
	}

	.entry-footer .cat-tags-links {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}

	.entry-footer .edit-link {
		display: table-cell;
		text-align: left;
		vertical-align: middle;
	}

	.entry-footer .edit-link a.post-edit-link {
		margin-top: 0;
		margin-right: 1em;
	}

	/* Entry content */

	/* without sidebar */

	:not(.has-sidebar) .entry-content blockquote.alignleft {
		margin-right: -17.5%;
		width: 48%;
	}

	:not(.has-sidebar) .entry-content blockquote.alignright {
		margin-left: -17.5%;
		width: 48%;
	}

	/* with sidebar */

	.has-sidebar .entry-content blockquote.alignleft {
		margin-right: 0;
		width: 34%;
	}

	.has-sidebar .entry-content blockquote.alignright {
		margin-left: 0;
		width: 34%;
	}

	.has-sidebar #primary .entry-content blockquote.alignright.below-entry-meta {
		margin-left: -72.5%;
		width: 62%;
	}

	/* blog and archive */

	.blog:not(.has-sidebar) .entry-content blockquote.alignleft,
	.couture-netnus-lite-front-page.page-two-column .entry-content blockquote.alignleft,
	.archive:not(.has-sidebar) .entry-content blockquote.alignleft,
	.page-two-column .entry-content blockquote.alignleft {
		margin-right: -72.5%;
		width: 62%;
	}

	.blog:not(.has-sidebar) .entry-content blockquote.alignright,
	.couture-netnus-lite-front-page.page-two-column .entry-content blockquote.alignright,
	.archive:not(.has-sidebar) .entry-content blockquote.alignright,
	.page-two-column .entry-content blockquote.alignright {
		margin-left: 0;
		width: 36%;
	}

	/* Post formats */

	.format-quote blockquote .icon {
		right: -1.5em;
	}

	/* Pages */

	.page.page-one-column .entry-header,
	.couture-netnus-lite-front-page.page-one-column .entry-header,
	.archive.page-one-column:not(.has-sidebar) .page-header {
		margin-bottom: 4em;
	}

	/* Posts pagination */

	.nav-links .nav-title {
		position: relative;
	}

	.nav-title-icon-wrapper {
		position: absolute;
		text-align: center;
		width: 2em;
	}

	.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
		right: -2em;
	}

	.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
		left: -2em;
	}

	/* Secondary */
	#secondary {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.6;
	}

	.site-info .sep {
		margin: 0 0.5em;
		display: inline;
		visibility: visible;
		height: auto;
		width: auto;
	}

	/* Gallery Columns */

	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}

	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}

	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
}
@media screen and ( min-width: 67em ) {
	.sticky .icon-thumb-tack {
		font-size: 32px;
		font-size: 2rem;
		height: 22px;
		right: -1.25em;
		top: 0.75em;
		width: 32px;
	}

	.page-numbers {
		display: inline-block;
	}

	.page-numbers.current {
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.page-numbers.current .screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}

	.comment-body {
		margin-right: 0;
	}
}
@media screen and ( min-width: 79em ) {
	.has-sidebar .entry-content blockquote.alignleft {
		margin-right: -20%;
	}
	.blog:not(.has-sidebar) .entry-content blockquote.alignright,
	.archive:not(.has-sidebar) .entry-content blockquote.alignright,
	.page-two-column .entry-content blockquote.alignright,
	.couture-netnus-lite-front-page .entry-content blockquote.alignright {
		margin-left: -20%;
	}
}
@media screen and ( max-width: 768px){
	#slider .inner_carousel h1{
		font-size: 30px;
	}
	#slider .carousel-caption{
		left: 30%;
	}
	.site-footer .widget_calendar th, 
	.site-footer .widget_calendar td{
		padding: 2px;
	}
	#first-section .product-cat ul{
		height: 210px;
	}
	#slider .carousel-control-prev{
		bottom: 23%;
	}
	.logo{
		text-align: center;
	}
}
@media screen and ( max-width: 720px){
	#slider .inner_carousel h1{
		display: none;
	}
	.sale-text{
		padding: 10px 0;
	}
	.cart_icon{
		margin: 20px 0;
	}
	.product-btn i {
	    margin: 0px 0 0px 20px;
	}
	button.product-btn{
		padding: 10px 14px;
	}
	.menu-sec .toggle-menu{
		margin: 3px 0;
	}
	#first-section .product-cat,
	.blocks-sec .blocks{
		margin-bottom: 15px;
	}
	#slider .carousel-control-prev{
		bottom: 32%;
	}
	.woocommerce ul.products[class*=columns-] li.product, 
	.woocommerce-page ul.products[class*=columns-] li.product{
		width: 100%;
	}
}
@media screen and (max-width: 1000px){
  .nav-menu .nav ul li a:focus, .toggle-menu button:focus, .sidenav .closebtn:focus, .nav-menu .sub-menu > li > a:focus, .nav ul li a:focus{
    outline-color: #fff;
  }
  .toggle-menu {
    display: none;
    cursor: pointer;
    margin: 8px 0;
    text-align: left;
  }
  .topbar .toggle-menu{
  	border-right: 1px solid #fff;
  }
  .toggle-menu i {
    font-size: 32px;
    color: #fff;
  }
  .toggle-menu button {
    background: transparent;
    border: none;
    padding: 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s width ease-in-out;
    padding-top: 60px;
    visibility: hidden;
  }
  .sidenav.show{
  	visibility: visible;
  	width: 250px;
    transition: 0.5s width ease-in-out;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    margin-right: 50px;
    display: block;
    padding: 10px;
    color: #ffffff;
    border: none;
    background: transparent;
  }
  .sidenav #primary-site-navigation {
    width: 100%;
  }
  .toggle-menu span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle-menu{
    display: block;
  }
  .nav-menu ul ul li{
    display: block;
  }
  .nav-menu .nav ul li{
    border-top:1px #303030 solid; 
    display:block;
  }
  .nav ul li a{
    padding: 10px;
    display:block;
    color:#ffffff;
    border: none;
    background: none !important;
  }
  .nav-menu .current_page_item > a, .nav-menu .current-menu-item > a, .nav-menu .current_page_ancestor > a {
    color: #000000;
    background: #fff !important;
  }
  .sf-arrows .sf-with-ul:after{
  	left: 20px;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
    padding-right:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-right:30px !important;
  } 
  .nav-menu ul ul{
    position: static;
    width: 100%;
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
  }
  .nav-menu li{
    padding: 0;
    display: block;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #resp-menu {
    text-align: right;
    display: inline;
  	background: #000000;
  }
  #sidelong-menu, #top-menu{
  	display: none;
  }
  #header ul.sub-menu:before{
    display: none;
  }
  .main-menu-navigation {
    padding: 0px 10px;
  }
  .nav-menu ul li a:hover{
	color: #000000;
    background: #fff !important;
  }
  .sf-arrows .sf-with-ul:after:active ul{
  	display: block;
  }
  .sf-arrows .sf-with-ul:after{
  	top: 12px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1000px){
	#first-section .product-cat ul{
		height: 350px;
	}
	#slider .carousel-control-prev{
		bottom: 19%;
	}
}