#customize-controls .control-section-couture-netnus-lite .accordion-section-title:hover,
#customize-controls .control-section-couture-netnus-lite .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-couture-netnus-lite .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-couture-netnus-lite .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
.control-section-couture-netnus-lite a {
    border-radius: 0 !important;
    background: #000000 !important;
    color: #fff !important;
    border: solid 1px #000 !important;
    font-weight: 900 !important;
}

li#customize-control-couture_netnus_lite_logo_top_padding,
li#customize-control-couture_netnus_lite_logo_bottom_padding,
li#customize-control-couture_netnus_lite_logo_left_padding,
li#customize-control-couture_netnus_lite_logo_right_padding{
    clear: none;
    width: 22%;
    margin-right: 10px;
}
li#customize-control-couture_netnus_lite_logo_right_padding{
    margin: 0;
}
input#_customize-input-couture_netnus_lite_logo_padding{
    display: none;
}
li#customize-control-couture_netnus_lite_logo_padding{
    margin-bottom: 0;
}
span#_customize-description-couture_netnus_lite_logo_top_padding,
span#_customize-description-couture_netnus_lite_logo_bottom_padding,
span#_customize-description-couture_netnus_lite_logo_left_padding,
span#_customize-description-couture_netnus_lite_logo_right_padding{
    font-weight: 600;
}